<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3> I'm in the app component! </h3>
      <hr>
      <app-servers></app-servers>
      <app-success></app-success>
      <br>

      <label for="Server">Server Name</label>
      <input type="text"
      class="form-control"
      (input)="onUpdateServerName($event)"
      >
      <input type="text"
      class="form-control"
      [(ngModel)]="serverName"
      >

      {{serverName}} <br>  
      <button class='btn btn-primary' [disabled]='!allowNewServer' (click)="onCreateServer()"> Add New server </button>
      <br>
      
      
      {{allowNewServer}} <br>
      {{serverCreationStatus}}

      <button class='btn btn-primary'(click)="console.log('Hello')"> Click </button>
      
      <p [ngStyle]={ background-color=getColor() }>{{'server'}} with id {{serverId}} is {{getServerStatus()}} </p>
    </div>
    </div>
  </div> 